{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": "./jsconfig.json"
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-console": "warn",
    "prettier/prettier": 2,
    "import/no-cycle": "off",
    "max-len": ["warn", { "code": 120, "ignoreTemplateLiterals": true }],
    "indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "import/prefer-default-export": "off",
    "no-param-reassign": ["error", {
      "props": false
    }]
  }
}
