
.register__section,
.login__section  {
  position: relative;
  height: calc(100vh - var(--header-footer-height));
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 50px 0;
}

.register__wrapper,
.login__wrapper {
  position: relative;
  background-color: #fff;
  height: 300px;
  width: 500px;
  padding: 20px 20px;
  border-radius: 5px;
}

.login__wrapper {
  height: 260px;
}

.register__title,
.login__title, {
  color: var(--dark-text);
  background-color: #fff;
  padding-left: 5px;
  display: block;
  width: 100%;
  height: 40px;
}

.register__form,
.login__form  {
  width: 100%;
}

.input-group {
  position: relative;
  margin: 5px 0;
  height: 42px;
  width: 100%;
  color: #495057;
  outline: 0;
}

.input-text,
.input-password,
label {
  border-radius: 5px;
  display: block;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  font-size: 14px;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  font-weight: 700;
  border: 1px solid #ced4da;
  cursor: pointer;
}


.input-group > label {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  padding: 0.85rem 0;
  width: 100%;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.input-group input:not(:placeholder-shown) ~ label,
.input-group input:-webkit-autofill ~ label {
  padding-top: calc(0.1rem / 4);
  padding-bottom: calc(0.5rem / 4);
  font-size: 10px;
  color: #777;
  height: auto;
}


.input-group input:placeholder-shown ~ label {
  color: #777;
}

.input-text:focus,
.input-password:focus {
  line-height: 1;
  color: #495057;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.register__btn,
.login__btn {
  width: 100%;
  display: block;
  height: 40px;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid #ced4da;
  text-transform: uppercase;
}

.register__btn:hover,
.login__btn:hover {
  background-color: var(--hover-color);
}

.form-link {
  display: block;
  width: 100%;
}

.register-message,
.login-message {
  color: red;
  font-size: 14px;
  font-weight: 400;
}
