.register__section,
.login__section {
  position: relative;
  min-height: 79vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 50px 0;
}

.register__wrapper,
.login__wrapper {
  position: relative;
  background-color: var(--light-form-color);
  height: 300px;
  width: 500px;
  padding: 20px 20px;
  border-radius: var(--input-field-border-radius);
}

.login__wrapper {
  height: 260px;
}

.register__title,
.login__title {
  display: block;
  padding-left: 5px;
  width: 100%;
  height: 40px;
  color: var(--dark-text);
  background-color: var(--light-form-color);
}

.register__form,
.login__form {
  width: 100%;
}

.input-group {
  position: relative;
  height: 42px;
  width: 100%;
  margin: 5px 0;
  color: var(--input-font-color);
  outline: 0;
}

.input-text,
.input-password,
.input-label {
  display: block;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  font-weight: 700;
  font-size: var(--login-font-size);
  border-radius: var(--input-field-border-radius);
  border: 1px solid var(--button-border-color);
  cursor: pointer;
}

.input-group > label {
  position: absolute;
  top: 0;
  left: 9px;
  display: block;
  width: 100%;
  line-height: 1.5;
  padding: 0.53rem 0;
  border: 1px solid transparent;
  border-radius: var(--input-group-border-radius);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.input-group input:not(:placeholder-shown) ~ label,
.input-group input:-webkit-autofill ~ label {
  padding-top: calc(0.1rem / 4);
  padding-bottom: calc(0.5rem / 4);
  font-size: 10px;
  color: var(--input-group-color);
  height: auto;
}

.input-group input:placeholder-shown ~ label {
  color: var(--input-group-color);
}

.input-text:focus,
.input-password:focus {
  line-height: 1;
  color: var(--input-font-color);
  background-color: var(--light-form-color);
  border-color: var(--light-form-color);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.register__btn,
.login__btn {
  width: 100%;
  display: block;
  height: 40px;
  margin: 15px 0;
  border-radius: var(--input-field-border-radius);
  border: 1px solid (--button-border-color);
  text-transform: uppercase;
}

.register__btn:hover,
.login__btn:hover {
  background-color: var(--hover-color);
}

.form-link {
  display: block;
  width: 100%;
  font-size: var(--font-size-xxs);
}

.register-message,
.login-message {
  color: var(--alert-color);
  font-size: var(--font-size-xs);
  font-weight: 400;
}
