:root {
  --bg-color: #dbdada;
  --selection-color: #c0c0c0;
  --text-primary-color: #000000;
  --hover-color: #ded3ec;
  --active-color: red;
  --font-big-size: 64px;
  --font-middle-size: 32px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
