@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

:root {
  --bg-color: #dbdada;
  --selection-color: #c0c0c0;
  --text-primary-color: #000000;
  --hover-color: #ded3ec;
  --active-color: red;
  --font-big-size: 64px;
  --font-middle-size: 32px;
  --button-color-primary: radial-gradient(rgb(253, 233, 188), rgb(253, 235, 180));
  --button-color-secondary: radial-gradient(rgb(255, 188, 43), rgb(255, 192, 3));
  --button-color-third: radial-gradient(rgb(255, 119, 89), rgb(255, 87, 51));
  --button-color-fourth: radial-gradient(rgb(227, 48, 99), rgb(199, 0, 57));
  --button-color-fives: radial-gradient(rgb(161, 44, 83), rgb(144, 12, 63));
  --button-color-sixes: radial-gradient(rgb(137, 46, 109), rgb(88, 24, 69));
  --card-color-primary: radial-gradient(rgb(218, 250, 211,0.5), rgb(179, 255, 176,0.5));

  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
