html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--bg-app-color-primary);
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--text-primary-color);
  text-decoration: none;
  list-style-type: none;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  max-width: $wrapper-size-xxl;
  width: 100%;

  @media (max-width: $screen-size-xl) {
    max-width: $wrapper-size-xl;
    padding: 0 var(--spacing-unit-2);
  }

  @media (max-width: $screen-size-m) {
    max-width: $wrapper-size-m;
    padding: 0 var(--spacing-unit-1);
  }

  @media (max-width: $screen-size-s) {
    max-width: $wrapper-size-s;
    padding: 0 var(--spacing-unit-1);
  }
}
