html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--text-primary-color);
  text-decoration: none;
}

.wrapper {
  position: relative;
  @media (max-width: $screen-size-xl) {
    max-width: $wrapper-size-xl;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--spacing-unit-2);
  }
}
