.stats-heading {
  position: relative;
  width: 100%;
  font-family: $secondary-font-family;
  font-size: var(--font-size-xl);
  font-weight: 100;
  text-align: center;
  padding-top: var(--spacing-unit-1);
}

.daily-charts-heading,
.common-charts-heading {
  width: 100%;
  font-family: $secondary-font-family;
  font-size: var(--font-size-m);
  font-weight: 100;
  text-align: center;
  padding-top: var(--spacing-unit-1);
}


.daily-charts {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: var(--spacing-unit-2);
}

.chart-item-wrapper {
  position: relative;
  padding: 0 var(--spacing-unit-2);
  width: 33%;
  height: auto;
}

.game-daily-info {
  position: relative;
  margin-top: var(--spacing-unit-1);
  width: 100%;
}

.game-daily-info div {
  position: relative;
  margin: 0 var(--spacing-unit-2);
  display: flex;
  justify-content: space-between;
}

.chart-message p {
  margin: 0 var(--spacing-unit-2);
  color: var(--active-color-1);
  font-size: var(--font-size-xxs);
  text-align: center;
}


.notification-message {
  position: relative;
  padding-top: var(--spacing-unit-1);
}

.common-charts {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.common-chart-item {
  position: relative;
  width: 48%;
  height: auto;
}