.game {
  &-container.sprint {
    background: none;
    background-image: url(#{$assets-path}images/sprint.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  &-content {
    margin-top: var(--spacing-unit-10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-content * {
    color: var(--text-secondary-color);
  }

  &-board {
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 450px;
    background: var(--bg-game-color-secondary);
    border-radius: 5%;
    padding: var(--spacing-unit-4);
    margin-top: var(--spacing-unit-20);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $screen-size-s) {
      margin-top: var(--spacing-unit-10);
      padding: var(--spacing-unit-3);
      height: 350px;
    }
  }
}

.table {
  position: absolute;
  top: -90px;
  color: var(--text-secondary-color);
  font-size: var(--font-size-xxl);
  font-family: $secondary-font-family;
}

.timer {
  left: 0;
}

.result {
  right: 0;
}

.answers-container_trues {
  max-width: 100%;
  width: 100%;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.level-led {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-secondary-color);
  font-size: var(--font-size-s);
}

.level-led::after {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  content: "+10";
}
.level-led.on {
  background-color: var(--active-color-2);
  animation: on 0.5s ease-in-out;
}

@keyframes on {
  0% {
  }
  50% {
    font-size: var(--font-size-xxl);
    font-weight: 800;
  }
  100% {
  }
}

.answer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-content * {
  color: var(--text-primary-color);
}

.word {
  &-big {
    font-size: var(--font-size-xxl);

    @media (max-width: $screen-size-s) {
      font-size: var(--font-size-xl);
    }
  }
  &-small {
    font-size: var(--font-size-xl);
    font-family: $secondary-font-family;

    @media (max-width: $screen-size-s) {
      font-size: var(--font-size-l);
    }
  }
}

.buttons-container_answers {
  display: flex;
  justify-content: space-between;
  width: 55%;

  @media (max-width: $screen-size-s) {
    width: 100%;
    max-width: 100%;
  }
}

.button-answer {
  width: 130px;
  padding: var(--spacing-unit-1);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--text-secondary-color);
  font-size: var(--font-size-s);
  font-weight: 500;
  transition: 0.2s ease-in-out;
  font-family: $secondary-font-family;

  @media (max-width: $screen-size-s) {
    width: 115px;
  }
}

.button-answer.false {
  background-color: var(--active-color-1);
}

.button-answer.true {
  background-color: var(--active-color-2);
}

.button-answer:hover {
  opacity: 0.6;
}

.result {
  &-game_title {
    margin-bottom: var(--spacing-unit-1);
    font-family: $secondary-font-family;
    text-align: center;
    color: initial;
  }
  &-game_points {
    color: initial;
    margin-bottom: var(--spacing-unit-2);
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-unit-1);
    overflow-y: hidden;
  }
  &-content {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  &-content::-webkit-scrollbar {
    width: 4px;
    background-color: var(--bg-game-color-secondary);
  }
  &-content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 15px;
    height: 5px;
    background-color: var(--active-color-2);
  }
  &-title.success {
    font-size: var(--font-size-l);
    color: var(--active-color-2);
    margin: var(--spacing-unit-1) auto;
  }
  &-title.wrong {
    font-size: var(--font-size-l);
    color: var(--active-color-1);
    margin: var(--spacing-unit-1) auto;
  }
}

.word {
  &-english_result,
  &-russian_result,
  &-transcription {
    width: 165px;
    color: var(--text-primary-color);
  }
}

.audio-button {
  margin-left: 0;
}
