.header-container {
  margin: 0 auto;
  margin-top: var(--spacing-unit-4);
  max-width: $wrapper-size-xxl;

  @media (max-width: $screen-size-xl) {
    max-width: $wrapper-size-xl;
    padding: 0 var(--spacing-unit-4);
  }
}

.logo-link {
  width: 160px;
  cursor: pointer;
}

.logo {
  font-family: $secondary-font-family;
  font-style: italic;
  font-size: var(--font-size-xl);
  transition: 0.25s ease-in-out;
  width: 160px;
}

.logo:hover {
  color: var(--hover-color);
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  list-style-type: none;
  padding: 0 var(--spacing-unit-2);
}

.item-hidden {
  display: none;
}

.link {
  font-size: var(--font-size-l);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease-in-out;

  @media (max-width: $screen-size-xl) {
    font-size: var(--font-size-s);
  }
}

.link.active {
  color: var(--active-color-2);
}

.link:hover {
  color: var(--hover-color);
}
