.footer {
  margin: 0 auto;
  height: 35px;
  width: 100%;
  max-width: 100%;

  &-link {
    @media (max-width: $screen-size-s) {
      font-size: var(--font-size-xxs);
    }
  }
}

.footer-container {
  margin: 0 auto;
  padding-top: var(--spacing-unit-1);
  max-width: $wrapper-size-xxl;
  height: 100%;

  @media (max-width: $screen-size-xl) {
    max-width: $wrapper-size-xl;
    padding: 0 var(--spacing-unit-4);
  }

  @media (max-width: $screen-size-s) {
    max-width: $wrapper-size-s;
    padding: 0 var(--spacing-unit-1);
  }
}

.nav-container.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu_footer {
  display: flex;

  @media (max-width: $screen-size-s) {
    height: 16px;
  }
}

.school-logo {
  width: 64px;
  height: 16px;
  transition: 0.25s ease-in-out;
}

.school-logo:hover {
  opacity: 0.7;
}

.school-year {
  position: relative;
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
