.footer {
  height: 30px;
  margin-top: var(--spacing-unit-1);
}

.footer-container {
  margin: 0 auto;
  margin-top: var(--spacing-unit-1);
  max-width: $wrapper-size-xxl;
  height: 100%;

  @media (max-width: $screen-size-xl) {
    max-width: $wrapper-size-xl;
    padding: 0 var(--spacing-unit-4);
  }
}

.nav-container.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu_footer {
  display: flex;
}

.school-logo {
  width: 64px;
  height: 16px;
  transition: 0.25s ease-in-out;
}

.school-logo:hover {
  opacity: 0.7;
}

.school-year {
  position: relative;
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}