:root {
  --bg-color: #dbdada;
  --selection-color: #c0c0c0;
  --text-primary-color: #000000;
  --hover-color: #ded3ec;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-primary-color);
}
